$primary-linear-gradient: linear-gradient(90deg, #2F1244 8.65%, #1B0B27 49.27%);
$secondary-linear-gradient: linear-gradient(90deg, #1B0B27 48.23%, #2F1244 80%);
$bg-primary-color: #1B0B27;
$header-bg-color: #270A3E;
$bg-secondary-color: #F9F9F9;
$text-primary-color: #F9F9F9;
$text-secondary-color: #1B0B27;
$primary-color: #1B0B27;
$secondary-color: #F9F9F9;
$small-text: 1.8rem 'Poppins';
$medium-text: 2.4rem 'Poppins';
$large-text: 3.2rem 'Poppins';
$extra-large-text: 4.2rem 'Poppins';
$small-border-radius: 4px;
$medium-border-radius: 8px;
$large-border-radius: 12px;
$accent-color: #0048b4;


