.c-sectiont-title {
  background-color: $bg-secondary-color;
  padding: 3px 43px;
  text-align: center;
  border-radius: $medium-border-radius;

  @media screen and (max-width: 370px) {
    width: 100%;
  }

  h2 {
    font: $medium-text;
    color: $text-secondary-color;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
  }
}